.main {
  flex: 1;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.providersContainer {
  display: flex;
  align-items: center;
  margin: 20px;
}

.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.user {
  margin: 5px 10px;
  user-select: none;
  opacity: 0;
  animation: fade-in 0.5s ease-out forwards;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-table;
}

.notFoundTitle {
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.message {
  background-color: rgb(255 255 255 / 10%);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
  border: 1px solid rgb(255 255 255 / 20%);
  padding: 15px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  color: #4b4b4b;
}

@media (width <= 850px) {
  .providersContainer {
    flex-direction: column;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
