.selectContainer {
  position: relative;
  display: inline-flex;

  select {
    border: none;
    font-size: 1.2rem;
    font-family: inherit;
    outline: none;
    transition: 0.4s ease;
    cursor: pointer;
    padding: 5px 10px;
    appearance: none;
    padding-right: calc(1em + 10px);
    background-color: transparent;
  }

  &::after {
    content: 'ᨆ';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8rem;
    color: #4e4e4ed5;
    pointer-events: none;
  }
}

.selectContainer select option {
  font-family: Quicksand, sans-serif;
  font-size: 1.2rem;
}

.selectContainer select:hover {
  transition: 0.4s ease;
  color: #4e4e4ed5;
}

@media (width <=650px) {
  .selectContainer select {
    font-size: 30px;
  }
}
