.container {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.container input[type='submit'] {
  height: 40px;
  padding: 0 40px;
  background-color: #5496ec;
  border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  border: none;
  font-size: 1.2rem;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.4s ease;
}

.container input[type='submit']:hover {
  transition: 0.3s ease;
  background-color: #2277e7;
}

.container input {
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(189 189 189 / 40.4%);
  padding: 5px;
  font-family: inherit;
  font-size: 1rem;
}

.container input.errorBorder {
  border-bottom: 1px solid red;
}

.errorContener {
  display: flex;
}

.errorMassage {
  font-size: 0.8rem;
  color: red;
}

.visible {
  visibility: visible;
  height: 30px;
}

.hidden {
  visibility: hidden;
  height: 30px;
}

.error {
  color: red;
}
